@page "/"
@page "/index"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="rhs-col">
    <div class="featured">
   
    <h2>Featured Artwork</h2>
        <div>
            <Carousel Autoplay="CarouselAutoPlay.StartOnPageLoad" Crossfade="true" ShowPreviousNextControls="false">
                <CarouselItem Active="true" Interval="2000">
                    <div class="featured-image-wrapper"><Image Src="img/artwork/10062011231107_soldierno1-tb.jpg" Class="hp-art-wrapper" /></div>
                    <CarouselCaption>
                        <a href="portfoliodetail/22"><img src="/img/btn-detail.jpg" class="featuredhypRight" /></a>
                        <div class="hp-desc-wrapper">
                            <h2>Soldier No 1</h2>
                            <p>One of a series of paintings of soldiers.  Soldier Number 1…</p>
                            <b>Medium:</b> Acrylic <br/>
                            <b>Size:</b> 14 x 18 (WxH CM) <br />
                            <b>Price:</b> £50
                        </div>
                    </CarouselCaption>
                   
                    
                </CarouselItem>
                
            @if (hpartWorks == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
               
                    @foreach (var hpArtWork in hpartWorks)
                {


                        <CarouselItem>
                            <div class="featured-image-wrapper"><img src="/img/artwork/@hpArtWork.artworkFilename" class="hp-art-wrapper" /></div>
                            <CarouselCaption>
                                <a href="portfoliodetail/@hpArtWork.artworkID"><img src="/img/btn-detail.jpg" class="featuredhypRight" /></a>
                                <div class="hp-desc-wrapper">

                                    <h2>@hpArtWork.artworkName</h2>
                                    <p>
                                    @if (hpArtWork.description is not null &  @hpArtWork.description.Length >= 40)
                                    {
                                        @hpArtWork.description.Substring(0, 40) <text>... </text>;
                                    }
                                    else
                                    {
                                        @hpArtWork.description
                                    }
                                    </p>
                                    <b>Medium:</b> @hpArtWork.artworkMediumID<br />
                                    <b>Size:</b> @hpArtWork.width x @hpArtWork.height (WxH CM) <br />
                                    <b>Price:</b> £@hpArtWork.price
                                   
                                </div>
                                
                            </CarouselCaption>
                            
                            
                        </CarouselItem>

                }
               

            }
            </Carousel>
       
    </div>
                     <br class="clearfloat" />
                    
                    </div>
                    <br class="clearfloat" />
                      


  
 </div>

 <div class="lhs-col">
<div class="panel">
        <br  />
<p><em>Since childhood Trevor has nurtured a dream of becoming an artist. Now retired he 
    is in the process of realising his dream.</em>

</p>
    <p>He is a member of the Milngavie Art Club, The Bearsden Art Club and The 
        Martes Group of Painters. His work is exhibited in Glasgow art galleries and has 
        been shown at the Paisley Art Institute and a variety of cancer and MS support shows. </p>
    <p>For more information...</p>
        <p>
            <a href="about">
                <img src="img/btn-clickhere.jpg" class="hypRight" alternateText="find out more about Trevor Bollen" ToolTip="find out more about Trevor Bollen"/>
            </a>
        </p>
    <br class="clearfloat" />

</div>
<h2 class="h2">about Trevor Bollen...</h2>
    <div class="panel">

    
   
  <p>  If you would like to contact Trevor about his art please fill in the form below.
        Items marked with a * are required.<br />
    </p>
        <div id="loader"></div>
        <form id="emailForm" onsubmit="sendEmail();return false;">
            <br />
            <label>Name:</label>
            <input type="text" id="name" placeholder="name" required" />
            <br />
            <label>Email:</label>
            <input type="email" id="email" placeholder="email" required" />
            <br />
            <label>Message:</label>
            <textarea placeholder="message" id="message" required"></textarea>
            <br />
            <button type="submit">Submit</button>
        </form>
   </div>


    <h2 class="h2">contact us</h2>
</div>
@code {

    private hpArtWork[]? hpartWorks;

    protected override async Task OnInitializedAsync()
    {
        hpartWorks = await Http.GetFromJsonAsync<hpArtWork[]>("data/hpartwork.json");

    }

    public class hpArtWork
    {
        public int artworkID { get; set; }
        public string? artworkName { get; set; }
        public string? artworkFilename { get; set; }
        public string? description { get; set; }
        public string? artworkMediumID { get; set; }
        public string? price { get; set; }
        public string? width { get; set; }
        public string? height { get; set; }
        

    }
    
}
